<div class="card container mb-4 mt-3">
    <div class="card-body row">
        <div class="col-md-2 col-sm-3 col-4 pt-1">
            <img class="avatar" [src]="repo.owner.avatar_url" />
        </div>
        <div class="col-md-10 col-sm-9 col-8">
            <div class="repo-title">{{ repo.name }}</div>
            <div class="repo-description">{{ repo.description }}</div>
            <div>
                <span class="badge badge-pill badge-info mr-2">Stars: {{ repo.stargazers_count }}</span>
                <span class="badge badge-pill badge-warning mr-2">Issues: {{ repo.open_issues_count }}</span>
                <span>Submitted {{ repo.created_at | dateAgo }} by {{ repo.owner.login }}</span>
            </div>
        </div>
    </div>
</div>
